<div class="col-lg-12">
    <div class="table-responsive">
        <table class="table table-hover">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        <h3 class="panel-title">Create or delete accounts, just if you can ;)</h3>
                    </div>
                    <div class="col col-xs-6 text-right">
                        <a class="btn btn-primary {{disabled-class}}" href="/accounts/create"><em class="fa fa-plus"></em></a>
                    </div>
                </div>
            </div>
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Owner</th>
                    <th>Balance</th>
                    <th style="width:5%"></th>
                </tr>
            </thead>
            <tbody>
                {{table-content}}
            </tbody>
        </table>
    </div>
</div>