 <div class="col-lg-12">
	<div class="table-responsive">
		<form role="form" method="POST" action="/accounts/create">

			<div class="form-group">
				<label for="disabledSelect">Owner</label>
				<select id="disabledSelect" class="form-control" name="user_id">
					{{select-content}}
				</select>
			</div>	

			<div class="form-group" name="account_number">
				<label>Account number</label>
				<input class="form-control">
				<p class="help-block">Only numbers</p>
			</div>
			
			<button type="submit" class="btn btn-primary">Done</button>
			<a class="btn btn-default" href="/accounts">Cancel</a>

		</form>
	</div>
</div>